{% extends 'base_main/baseDashboard.html' %}
{% load static %}


{% block content %}
<style>
    .card {
        border: 1px solid #d4d4d4;
        /* Borda cinza para o card */
        margin: 10px 0;
        /* Margem acima e abaixo do card */
        padding: 20px;
        /* Preenchimento interno do card */
        background-color: #ffffff;
        /* Fundo branco para o card */
        border-radius: 5px;
        /* Bordas arredondadas */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra leve para o card */
    }

    .centered {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="card-corpo">
            <div class="titulo"><strong>Lista Wolrd Tour</strong></div>
            <hr> <!-- Linha divisória -->
            <div class="caixa-conteudo">
                <!-- Conteúdo da caixa aqui -->
                <table id="example" class="table display table-hover table-striped" style="width:100%">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th class="text-center">Titulo</th>
                            <th class="text-center">Descrição</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for listAwards in list_awards %}
                        <tr class="text-center" >
                            <td><img src="{{ listAwards.link_image }}" alt="" style="width: 200px;"></td>
                            <td>{{ listAwards.name }}</td>                        
                            <td class="text-break lh-1">{{ listAwards.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

</script>
{% endblock %}