{% extends 'base_main/baseDashboard.html' %}
{% load static %}


{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        {% for agendamento in agendamentos %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{ agendamento.evento.link }}" class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <br>
                                <br>
                                <h5>{{ agendamentos.evento }}</h5>

                                <div class="mt-1 mb-0 text-muted small">
                                    <span>Data: {{ agendamento.data }}</span>
                                    <span class="text-primary"> • </span>
                                    <span>Voo: {{ agendamento.numero_voo }}</span>
                                    <span class="text-primary"> • </span>
                                    <span>Aeronave: {{ agendamento.aeronave }}<br /></span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Aeroporto: {{ agendamento.origem }}</span>
                                    <span class="text-primary"> • </span>

                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <br>
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-info btn-sm"
                                        href="{% url 'agendamentos' agendamento.evento.id %}">Visualizar</a>

                                </div>
                                <div class="d-flex flex-column mt-4">
                                    <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal"
                                        data-bs-target="#janelaModal">Excluir</button>

                                </div>
                                <div id="janelaModal" class="modal fade" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de
                                                    Exclusão
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza de que deseja excluir este
                                                    <strong>AGEDAMENTO?</strong>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-bs-dismiss="modal">Não</button>
                                                <form action="{% url 'excluir_agendamento' agendamento.id %}"
                                                    method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Sim</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script>
    {% for message in messages %}
    Swal.fire({
        position: "center",
        icon: "success",
        title: "{{ message }}",
        showConfirmButton: false,
        timer: 2000
    });
    {% endfor %}
</script>
{% endblock %}