{% extends 'base_main/baseDashboard.html' %}
{% load static %}


{% block content %}
<style>
    .card {
        border: 1px solid #d4d4d4;
        /* Borda cinza para o card */
        margin: 10px 0;
        /* Margem acima e abaixo do card */
        padding: 20px;
        /* Preenchimento interno do card */
        background-color: #ffffff;
        /* Fundo branco para o card */
        border-radius: 5px;
        /* Bordas arredondadas */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra leve para o card */
    }

    .centered {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="card-corpo">
            <div class="titulo"><strong>{{eventos.tipo}}</strong> - Planos de voo que você gerou recentemente</div>
            <hr> <!-- Linha divisória -->
            <div class="caixa-conteudo">
                <!-- Conteúdo da caixa aqui -->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Voo</th>
                            <th>Aeronave</th>
                            {% if eventos.tipo == 'departures' %}
                            <th>Para</th>
                            {% else %}
                            <th>De</th>
                            {% endif %}
                            <th>Partida</th>
                            <th>Chegada</th>
                            <th>Estimativa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for voo in dados_voos_paginated %}
                        <tr>
                            <td>{{ voo.voo }}</td>
                            <td>{{ voo.tipo }}</td>
                            <td class="iata">{{ voo.para }}</td>
                            <td>{{ voo.partida }}</td>
                            <td>{{ voo.chegada }}</td>
                            <td>{{ voo.duracao }}</td>
                            <td>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="numero_voo" value="{{ voo.voo }}">
                                    <input type="hidden" name="aeronave" value="{{ voo.tipo }}">
                                    <input type="hidden" name="destino" value="{{ voo.para }}">
                                    <!-- Adicione mais campos do formulário conforme necessário -->
                                    {% if voo.voo in numeros_de_voos_registrados %}
                                    <button type="button" class="btn btn-danger" disabled>Agendar</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary">Agendar</button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Controles de paginação -->
                <ul class="pagination justify-content-center">
                    {% if dados_voos_paginated.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ dados_voos_paginated.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                    {% for i in dados_voos_paginated.paginator.page_range %}
                    <li class="page-item {% if dados_voos_paginated.number == i %}active{% endif %}"><a
                            class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if dados_voos_paginated.has_next %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ dados_voos_paginated.next_page_number }}">Próximo</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Defina a string
        let tdElements = document.querySelectorAll('.iata');

        // Use uma expressão regular para extrair o conteúdo entre colchetes
        let match = tdElements.match(/\((.*?)\)/);

        // Verifique se houve correspondência e obtenha o resultado
        if (match) {
            let resultado = match[1]; // O índice 1 contém a correspondência capturada entre parênteses
            console.log(resultado); // Saída: BSB
        } else {
            console.log("Nenhuma informação encontrada entre parênteses.");
        }


    })
</script>
{% endblock %}