{% extends 'base_main/baseDashboard.html' %}
{% load static %}

{% block content %}
<style>
    .linha-vertical {
        height: 200px;
    }

    .linha-verde {
        border-right: 3px solid rgb(16, 128, 40);
    }

    .linha-amarela {
        border-right: 3px solid rgb(252, 235, 5);
    }

    .linha-vermelha {
        border-right: 3px solid rgb(255, 0, 0);
    }

    .linha-cinza {
        border-right: 3px solid rgb(99, 97, 97);
    }
</style>

<div class="container" style="margin-top: 150px;">
    <div class="table-responsive-sm">
        <table class="table table-sm" style="font-size: 14px;">
            <thead style="background-color: #0e7677;">
                <tr>
                    <th class="text-center">Data</th>
                    <th class="text-center">Partida</th>
                    <th class="text-center">Chegada</th>
                    <th class="text-center">H/Partida</th>
                    <th class="text-center">H/Chegada</th>
                    <th class="text-center">Aeronave</th>
                    <th class="text-center">Cia Aérea</th>
                    <th class="text-center">Voo</th>
                    <th class="text-center">Gate</th>
                    <th class="text-center" colspan="2">Status</th>
                    <th class="text-center">Piloto</th>
                </tr>
            </thead>
            <tbody class="fontes">
                {% for agendamento in agendamentos %}
                <tr>
                    <td class="text-center">{{ agendamento.data | date:"d/m" }}</td>
                    <td class="text-center">{{ agendamento.origem | upper }}</td>
                    <td class="text-center">{{ agendamento.destino | upper }}</td>
                    <td class="text-center">{{ agendamento.hora_partida }}</td>
                    <td class="text-center">{{ agendamento.hora_chegada }}</td>
                    <td class="text-center">{{ agendamento.aeronave | upper }}</td>
                    <td class="text-center logo"></td>
                    <td class="text-center cia-aerea">{{ agendamento.numero_voo }}</td>


                    <td class="text-center" style="color: dodgerblue;">{{ agendamento.gate }}</td>
                    <td class="text-center">
                        <span class="linha-vertical
                        {% if agendamento.status == 'Partida Verde' %}
                            linha-verde
                        {% elif agendamento.status == 'Pousou Verde' %}
                            linha-verde
                        {% elif agendamento.status == 'Partida Amarelo' %}
                            linha-amarela
                        {% elif agendamento.status == 'Pousou Amarelo' %}
                            linha-amarela
                        {% elif agendamento.status == 'Partida Vermelho' %}
                            linha-vermelha
                        {% elif agendamento.status == 'Pousou Vermelho' %}
                            linha-amarela
                        {% elif agendamento.status == 'Agendado Cinza' %}
                            linha-cinza
                        {% elif agendamento.status == 'Estimado Verde' %}
                            linha-verde
                        {% elif agendamento.status == 'Cancelado Vermelho' %}
                            linha-vermelha
                        {% endif %}
                        "></span>
                    </td>
                    <td class="text-center">
                        {% if 'Partida' in agendamento.status %}
                        Partiu
                        {% elif 'Pousou' in agendamento.status %}
                        Pousou
                        {% elif 'Agendado' in agendamento.status %}
                        Agendado
                        {% elif 'Estimado' in agendamento.status %}
                        Estimado
                        {% elif 'Cancelado' in agendamento.status %}
                        Cancelado
                        {% endif %}
                    </td>
                    <td class="text-center">{{ agendamento.piloto.first_name }} {{ agendamento.piloto.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    // Seu código JavaScript aqui
    const tdElements = document.querySelectorAll('.cia-aerea');

    tdElements.forEach(tdElement => {
        const numeroVoo = tdElement.innerText.trim();
        let letras = numeroVoo.match(/[a-zA-Z]+/g);

        if (letras) {
            let icao = letras[0];

            fetch('https://raw.githubusercontent.com/Dalmocabral/logo_airplane_if_json/main/logo_aiplane_if_json')
                .then(response => response.json())
                .then(data => {
                    let airline = data.find(item => item.Icao === icao);

                    if (airline) {
                        let logoUrl = airline.Logo;
                        let logoCell = tdElement.parentElement.querySelector('.logo');

                        if (logoCell) {
                            let img = document.createElement('img');
                            img.src = logoUrl;
                            img.alt = 'Logo da Companhia Aérea';
                            img.classList.add('logo');
                            img.style.width = '30px';
                            img.style.height = '30px';

                            logoCell.innerHTML = '';
                            logoCell.appendChild(img);
                        } else {
                            console.error('Célula com a classe "logo" não encontrada para adicionar o logotipo.');
                        }
                    } else {
                        // Se a companhia aérea não for encontrada, adicionar a imagem padrão
                        let logoCell = tdElement.parentElement.querySelector('.logo');

                        if (logoCell) {
                            let img = document.createElement('img');
                            img.src = 'https://cdn.radarbox.com/airlines/sq/NO.png';
                            img.alt = 'Logo da Companhia Aérea';
                            img.classList.add('logo');
                            img.style.width = '30px';
                            img.style.height = '30px';

                            logoCell.innerHTML = '';
                            logoCell.appendChild(img);
                        } else {
                            console.error('Célula com a classe "logo" não encontrada para adicionar o logotipo padrão.');
                        }
                    }
                })
                .catch(error => {
                    console.error('Erro ao carregar os dados da API:', error);
                });
        }
    });
});

</script>

{% endblock %}