{% extends 'base_main/baseDashboard.html' %}
{% load static %}

<style>
    .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        margin-top:10px;
        margin-bottom:10px;
        background-color:#FFF;
    }

    .card:hover {
        box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .card > .card-inner {
        padding:10px;
    }

    .card .header h2, h3 {
        margin-bottom: 0px;
        margin-top:0px;
    }

    .card .header {
        margin-bottom:5px;
    }

    .card img {
        width:100%;
    }

    @keyframes piscar {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Estilo para botões desativados */
    .btn.disabled, .btn:disabled {
        pointer-events: none;
        opacity: 0.65;
    }
</style>

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for evento in eventos %}
            <div class="col">
                <div class="card shadow-sm">
                    <div style="width: 100%; height: 200px; overflow: hidden;">
                        <img src="{{ evento.link }}" alt="" style="object-fit: cover; width: 100%; height: 100%;" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ evento.titulo }}</h5>
                        <br>
                        <p class="card-text">{{ evento.descricao }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Aeroporto:</strong> {{ evento.aeroporto }}</li>
                            <li class="list-group-item"><strong>Data:</strong> {{ evento.data|date:"d/m/Y" }}</li>
                            <li class="list-group-item"><strong>Hora:</strong> {{ evento.hora|time:"H:i" }}</li>
                        </ul>
                        <br>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-center">
                                <!-- Identificadores únicos para os botões -->
                                <a class="btn btn-primary btn-voos-{{ evento.id }}" href="{% url 'agendamentos' evento.id %}">Lista de voos</a>
                                <a class="btn btn-primary btn-agendar-{{ evento.id }}" href="{% url 'voos' evento.id %}">Agendar</a>
                            </div>
                            <span class="text-end" id="tempo-restante-{{ evento.id }}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // Função para calcular a contagem regressiva
                function updateCountdown(eventoDataHora, elementoTempoRestante, btnVoos, btnAgendar) {
                    // Obtém a data e hora atual
                    let agora = new Date().getTime();

                    // Calcula a diferença entre a data e hora do evento e a data e hora atual
                    let diferenca = eventoDataHora - agora;

                    // Calcula o tempo restante em horas, minutos e segundos
                    let horas = Math.floor(diferenca / (1000 * 60 * 60));
                    let minutos = Math.floor((diferenca % (1000 * 60 * 60)) / (1000 * 60));
                    let segundos = Math.floor((diferenca % (1000 * 60)) / 1000);

                    // Verifica se o tempo restante é menor ou igual a zero
                    if (horas <= 0 && minutos <= 0 && segundos <= 0) {
                        // Exibe a mensagem de "Evento expirado" e desativa os botões
                        elementoTempoRestante.innerHTML = "Evento expirado";
                        btnVoos.classList.add('disabled');
                        btnAgendar.classList.add('disabled');
                        return;
                    }

                    // Atualiza o elemento HTML com a contagem regressiva
                    elementoTempoRestante.innerHTML = "Falta: " + horas + "h " + minutos + "m " + segundos + "s ";

                    // Se faltar 1 hora para o evento começar, faça o texto piscar
                    if (horas === 1 && minutos === 0 && segundos === 0) {
                        elementoTempoRestante.style.animation = "piscar 1s infinite";
                    } else {
                        // Caso contrário, pare a animação de piscar
                        elementoTempoRestante.style.animation = "none";
                    }

                    // Atualiza a contagem regressiva a cada segundo
                    setTimeout(function () {
                        updateCountdown(eventoDataHora, elementoTempoRestante, btnVoos, btnAgendar);
                    }, 1000);
                }

                // Inicia a contagem regressiva para este evento
                let eventoDataHora{{ evento.id }} = new Date("{{ evento.data|date:'c' }}T{{ evento.hora|time:'H:i:s' }}");
                let elementoTempoRestante{{ evento.id }} = document.getElementById("tempo-restante-{{ evento.id }}");
                let btnVoos{{ evento.id }} = document.querySelector('.btn-voos-{{ evento.id }}');
                let btnAgendar{{ evento.id }} = document.querySelector('.btn-agendar-{{ evento.id }}');
                
                updateCountdown(eventoDataHora{{ evento.id }}, elementoTempoRestante{{ evento.id }}, btnVoos{{ evento.id }}, btnAgendar{{ evento.id }});
            </script>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
