#map-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar {

    display: none;
    /* Inicialmente escondido */
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    overflow-y: auto;
    padding: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Ajuste o valor do z-index conforme necessário */
}

.show-sidebar {
    display: block;
    /* Mostrar quando a classe show-sidebar é adicionada */
}

#map-controls {
    position: absolute;
    top: 90px;
    left: 310px;
    z-index: 1000;
    /* Certifique-se de que o seletor esteja na parte superior */

    display: flex;
    align-items: center;
}

#map-mode,
#dark-mode-toggle {
    display: inline-block;
    vertical-align: middle;
}


#dark-mode-toggle,
#map-control-ifab {
    margin-top: -15px;
    /* Alinhar o topo do botão com o topo do seletor */
    margin-left: 10px;
    /* Adicione um espaço entre o seletor de modo e o botão */
    margin-right: 10px;
    /* Adicione um espaço entre o botão e outros elementos */
}

#map-controls select,
#map-controls button {
    margin-right: 10px;

}

.flightinfo-callsign {
    background-color: #3c55ac;
    margin: 0;
    padding: 0;
    color: #fff !important;
}


.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.flightinfo-route {
    background-color: #6b7dbf;
    padding: 15px;
    color: #fff !important;
}
.infolightbox.colored-low {
background-color: #3c55ac !important;
border: 0px;
color: #fff !important;
}
.infolightbox.colored-low h6, .infolightbox.colored-low .lead-wgt {
color: #fff !important;
}
.infolightbox h6 {
font-weight: 700;

}
.infolightbox {
background: white !important;
display: block;
border: none;
color: #0d2c99;
border-radius: 10px;
overflow: hidden;
box-sizing: content-box;
}

.MuiTypography-alignCenter {
text-align: center;
}

.MuiTypography-h6 {

font-family: "Roboto", "Helvetica", "Arial", sans-serif;

letter-spacing: 0.0075em;
}

.MuiTypography-root {
margin: 0;
}

.infolightbox .lead-wgt {
margin: 0;
padding: 0;
font-size: .6rem;
line-height: 1rem;
}
.infowindow p {
color: #000 !important;
}
p {
margin-top: 0;
margin-bottom: 1rem;
}

*, *::before, *::after {
box-sizing: inherit;
}
*, :after, :before {
box-sizing: border-box;
}
user agent stylesheet
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;
}

.infolightbox {
background: white !important;
display: block;
border: none;
color: #0d2c99;
border-radius: 10px;
overflow: hidden;
box-sizing: content-box;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}


